.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-blue {
    background-color: blue
}

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}

.box {
    width: 60px;
    height: 60px;
}