@font-face {
  font-family: "Filson Soft";
  src: url("../../fonts/filson-soft/filson-soft-thin.woff") format("woff");
  font-display: auto;
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
}

@font-face {
  font-family: "Filson Soft";
  src: url("../../fonts/filson-soft/filson-soft-regular.woff") format("woff");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "Filson Soft";
  src: url("../../fonts/filson-soft/filson-soft-medium.woff") format("woff");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "Filson Soft";
  src: url("../../fonts/filson-soft/filson-soft-bold.woff") format("woff");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "Filson Soft";
  src: url("../../fonts/filson-soft/filson-soft-extra-bold.woff") format("woff");
  font-display: auto;
  font-style: normal;
  font-weight: 800;
  font-stretch: normal;
}

@font-face {
  font-family: "Filson Soft";
  src: url("../../fonts/filson-soft/filson-soft-black.woff") format("woff");
  font-display: auto;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}
