@font-face {
    font-family: roboto;
    src: url(../../assets/fonts/roboto/roboto-thin.ttf);
    font-weight: 100;
}


@font-face {
    font-family: roboto;
    src: url(../../assets/fonts/roboto/roboto-light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: roboto;
    src: url(../../assets/fonts/roboto/roboto-regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: roboto;
    src: url(../../assets/fonts/roboto/roboto-medium.ttf);
    font-weight: 500;
}


@font-face {
    font-family: roboto;
    src: url(../../assets/fonts/roboto/roboto-bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: roboto;
    src: url(../../assets/fonts/roboto/roboto-black.ttf);
    font-weight: 900;
}